In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("NaiveBayes.csv")

In [3]:
df.head()

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0
3   27   57000          0
4   19   76000          0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        400 non-null    int64
 1   Salary     400 non-null    int64
 2   Purchased  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [5]:
df.describe()

              Age         Salary   Purchased
count  400.000000     400.000000  400.000000
mean    37.655000   69742.500000    0.357500
std     10.482877   34096.960282    0.479864
min     18.000000   15000.000000    0.000000
25%     29.750000   43000.000000    0.000000
50%     37.000000   70000.000000    0.000000
75%     46.000000   88000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [7]:
df.dtypes

Age          int64
Salary       int64
Purchased    int64
dtype: object

In [8]:
df.columns

Index(['Age', 'Salary', 'Purchased'], dtype='object')

In [10]:
x = df[['Age', 'Salary']]  #Alternative is df.drop('Purchased',axis=1)
y = df['Purchased']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [15]:
for model in dir(__import__("sklearn")):
    print(model)

__SKLEARN_SETUP__
__all__
__builtins__
__cached__
__check_build
__doc__
__file__
__loader__
__name__
__package__
__path__
__spec__
__version__
_config
_distributor_init
base
clone
config_context
exceptions
externals
get_config
logger
logging
metrics
model_selection
os
preprocessing
random
set_config
setup_module
show_versions
sys
utils

In [16]:
from sklearn.naive_bayes import GaussianNB

In [18]:
model = GaussianNB()

In [19]:
model.fit(x,y)

GaussianNB()

In [20]:
y_test_predict = model.predict(x_test)

In [27]:
from sklearn.metrics import classification_report, accuracy_score

In [28]:
print(classification_report(y_test,y_test_predict))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96        63
           1       0.94      0.92      0.93        37

    accuracy                           0.95       100
   macro avg       0.95      0.94      0.95       100
weighted avg       0.95      0.95      0.95       100

In [29]:
print(accuracy_score(y_test,y_test_predict))

0.95