## Apriori Algorithm

### Reading the transactions

In [2]:
import numpy as np
import pandas as pd

In [9]:
transactions = []
with open("Order2.csv",'r') as file:
    for line in file:
        current_transaction = line.strip()
        transaction_items = list(current_transaction.split(","))
        transactions.append(transaction_items)
    file.close()

### Encoding transactions into dataset

In [10]:
from mlxtend.preprocessing import TransactionEncoder

In [12]:
TE = TransactionEncoder()
x = TE.fit_transform(transactions)
x

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [20]:
dataset = pd.DataFrame(x, columns = TE.columns_)
dataset

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

### Calculating Freq. Datasets

In [31]:
from mlxtend.frequent_patterns import apriori,association_rules
freq_datasets = apriori(dataset, min_support = 0.01,use_colnames = True)
freq_datasets

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (milk, ground beef, mineral water)
253  0.017064  (ground beef, spaghetti, mineral water)
254  0.015731         (milk, spaghetti, mineral water)
255  0.010265    (olive oil, spaghetti, mineral water)
256  0.011465     (pancakes, spaghetti, mineral water)

[257 rows x 2 columns]

### Calculating Rules

In [32]:
rules = association_rules(freq_datasets, metric = "confidence" , min_threshold = 0.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(avocado),(mineral water),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147,0.325896
1,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818,0.499424
2,(burgers),(french fries),0.087188,0.170911,0.021997,0.252294,1.476173,0.007096,1.108844,0.353384
3,(burgers),(green tea),0.087188,0.132116,0.017464,0.200306,1.516139,0.005945,1.085270,0.372947
4,(burgers),(milk),0.087188,0.129583,0.017864,0.204893,1.581175,0.006566,1.094717,0.402667
...,...,...,...,...,...,...,...,...,...,...
157,"(spaghetti, mineral water)",(milk),0.059725,0.129583,0.015731,0.263393,2.032623,0.007992,1.181657,0.540294
158,"(olive oil, spaghetti)",(mineral water),0.022930,0.238368,0.010265,0.447674,1.878079,0.004799,1.378954,0.478514
159,"(olive oil, mineral water)",(spaghetti),0.027596,0.174110,0.010265,0.371981,2.136468,0.005460,1.315071,0.547034
160,"(pancakes, spaghetti)",(mineral water),0.025197,0.238368,0.011465,0.455026,1.908923,0.005459,1.397557,0.488452
161,"(pancakes, mineral water)",(spaghetti),0.033729,0.174110,0.011465,0.339921,1.952333,0.005593,1.251198,0.504819

### Finding all the consequents of a rule

In [45]:
filtered_rule = rules[rules['antecedents'].apply(lambda x : ("spaghetti" and "milk") in x)]['consequents']
filtered_rule

27             (chocolate)
49                  (eggs)
86         (mineral water)
91             (spaghetti)
124        (mineral water)
125            (chocolate)
127            (chocolate)
128            (spaghetti)
135        (mineral water)
136                 (eggs)
143        (mineral water)
145    (frozen vegetables)
149        (mineral water)
150          (ground beef)
155        (mineral water)
156            (spaghetti)
Name: consequents, dtype: object