## Apriori Alogorithm

### Reading the transactions

In [1]:
import numpy as np
import pandas as pd

In [10]:
pd.read_csv("Order1.csv")

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [ ]:
transactions = []
with open("Order1.csv","r") as file:
    for line in file:
        current_tr = line.strip()
        trans_item = list(current_tr.split()